body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }

  h2 {
    margin-left: -10px;
    margin-right: auto;
    width: 100%;
  }
  
  img {
    border-radius: 50%;
    margin: 10px 0;
  }
  
  body.dark {
    background-color: #222;
    color: #fff;
  }
  
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  